<div class="content">
  <mat-card (click)="nextPage(mods.onlyContract)">
    <div class="card-bottom">
      <mat-card-header>
        <mat-card-title>Go SIM only!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          In 5 mins we could save you up to £240! We'll calculate the best SIM only deal for you!
        </p>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card (click)="nextPage(mods.phoneAndContract)">
    <div class="card-bottom">
      <mat-card-header>
        <mat-card-title>Beat your upgrade offer</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          We'll calculate a deal to beat your contract offer
        </p>
      </mat-card-content>
    </div>
  </mat-card>
  <mat-card (click)="nextPage(mods.onlyPhone)">
    <div class="card-bottom">
      <mat-card-header>
        <mat-card-title>Keep your contract get a new Phone!</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          On average our customers save up to 15% taking a refurb device with <b>12 month warranty!</b>
        </p>
      </mat-card-content>
    </div>
  </mat-card>
</div>